body {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .9)), url(images/puzzel2.jpg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

main {
    margin: 10% 30% 3% 30%;
}

#wrapper {
    height: 400px;
    width: 500px;
    padding: 50px 50px 20px 50px;
}

#container {
    background: transparent;
    height: 300px;
    width: 380px;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-canvas {
    cursor: pointer;
    margin-bottom: 1em;
}

#harder-puzzel-container {
    display: none;
}

#container #buttons-container {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent;
    border: 1px solid #fec951;
    border-radius: 4px;
    color: #fff;
}

#buttons-container button:first-of-type {
    margin-right: 2em;
    padding: .4em 3em;
}

#resultContainer {
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
}

#result {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: 10;
}

#result span {
    font-size: 1.5em;
    color: #fec951;
}

footer {
    color: #fec951;
    text-align: center;
}

footer i {
    color: red;
}