body {
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/puzzel2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

hr {
    margin-bottom: 30px;
    border-color: #fec951;
    width: 100%;
}

#more-game {
    margin: 0 8.63%;
    color: cornsilk;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .9)), url(../images/images/puzzel2.jpg); */
    display: flex;
}

#more-game {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

#more-game-container {
    margin: 2em 5%;
    background-size: 100%;
    border-radius: 3px;
    min-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 3em 5% 3em 8%;
}

.game-canvas {
    cursor: pointer;
    margin-bottom: 1em;
}

#harder-puzzel-container {
    display: none;
}

#container #buttons-container {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent;
    border: 1px solid #fec951;
    border-radius: 4px;
    color: #fff;
    outline: none;
}

.btn:hover {
    color: #fec951;
}

#buttons-container button:first-of-type {
    /*margin-right: 2em;*/
    padding: .4em 3em;
}

#resultContainer {
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
}

#result {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: 10;
}

#result span {
    font-size: 1.5em;
    color: #fec951;
}

#more-game-container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    margin-top: .5em;
    width: 100%;
}

#game-wrapper {
    align-self: center;
    padding: 1em;
    text-align: center;
}

#puzzel-game-container {
    height: auto;
    width: auto;
}

.game-canvas {
    cursor: pointer;
    margin-bottom: 1em;
}

#harder-puzzel-container {
    display: none;
}

#buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#puzzel-game-container #buttons-container {
    text-align: center;
    margin-bottom: 2em;
}

#more-game .btn {
    background: transparent;
    border: 1px solid #fec951;
    outline: none;
}

#more-game .btn:hover {
    color: #fec951;
}

#buttons-container button:first-of-type {
    padding: .4em 3em;
}

#resultContainer {
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
}

#more-game #result {
    color: cornsilk;
}

#more-game #result span {
    font-size: 1.5em;
    color: #fec951;
}

#more-game-container p:last-of-type {
    color: #fec951;
    text-align: center;
    margin-bottom: 1em;
    font-size: .8em;

}

#more-game-container hr:last-of-type {
    margin-bottom: .7em;
}

#more-game-container p:last-of-type i {
    color: red;
}

#more-game-container p:last-of-type span {
    color: cornsilk;
}

#game-timer {
    background: transparent;
    border-color: #fec951;
    position: absolute;
    right: 70px;
    top: 40%;
    width: 200px;
    padding-top: .7em;
    color: #CF4A39;
    text-align: center;
}

#game-timer span {
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width:768px) {
/* ========= more game =========== */
#more-game{
  padding-top: 10px;
  width: auto;
}
    #more-game-container {
        padding: 0;
        width: 95%;
        overflow: hidden;
    }
    #more-game-container hr:first-of-type{
      padding-bottom: 0;
    }
    #game-wrapper {
        margin-top: 0;
        align-self: center;
        padding: 1em 5px;
        width: auto;
    }
    #puzzel-game-container {
        height: auto;
        width: auto;
        margin: 10% 0;
    }
    .game-canvas {
        cursor: pointer;
        margin-bottom: 1em;
    }
    #harder-puzzel-container {
        display: none;
    }
    #buttons-container {
        flex-direction: column;
        align-content: center;
        width: 70%;
        margin: 0 auto;
    }
    #buttons-container button:first-of-type {
        margin-bottom: 1em;
    }
    #resultContainer {
        font-size: 1em;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .9));
    }
    #more-game #result span {
        font-size: 1.2em;
    }
    #game-timer {
        margin: 10px auto;
        right: 70px;
        top: 3%;
        font-size: .8em;
        color: cornsilk;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .9));
    }
    #more-game #result span {
        font-size: 1em;
    }
}
